/**** Styles related to third party libraries like swiper.js are at the botton*/
/**** media queries also at the bottom */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif; */
    font-family: "Open Sans", -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
:root{
  --clr-headings:#7b0548;
  --clr-buttons:#7b0548;
  --clr-gradient-red1:linear-gradient(to right, #CB218E 0%, #6617CB 100%);
}

html{
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
video{
  max-width: 100%;
}
.highlight{
    color: var(--color-highlight);
    font-weight: 550;
  }
  .logo{
    /* letter-spacing: 5px; */
    color: var(--color-txt-primary);
    max-height: 3rem;
    user-select: none;
    cursor: pointer;
    /* outline: 2px solid black; */
  }
  a{
    text-decoration: none;
    color: var(--color-bg-primary);
    cursor: pointer;
  }
  nav{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 4fr 2fr ;
    align-items: center;
    padding: 1rem;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    position: fixed;
    width: 100%;
    z-index: 1000;

  }
  nav a, nav span{
    margin-right: 1rem;
    /* color: rgb(3, 1, 37); */
    color: #08084a;
    cursor: pointer;
  }
  nav span{
    color: var(--color-txt-primary);
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 100ms ease-in;
    display: inline-block;
  }
  nav span:hover{
    transform: scale(1.03);
    opacity: .8;
  }
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .hamburger span{
    display: block;
    height: 2px;
    margin-bottom: 0.2rem;
    width: 1.5rem;
    /* background:#000; */
    background: #070743;
  }
  body{
    color: #494949;
  }
  /* The .nav-open class is to be manipulated by js */
  .nav-open span:nth-of-type(1){
    position: relative;  
    transform: rotate(45deg);
    transition: 500ms;
    top: 0.6rem;
  }
  .nav-open span:nth-of-type(2){
    transform: scale(1,0);
    transition: 500ms;
    }
    .nav-open span:nth-of-type(3){
      position: relative;
      transform: rotate(-45deg);
      transition: 500ms;
      }
  
  
  .nav-links-small-screen{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    margin-top: 3.8rem;
    /* background: rgba(0,0,0,0.7); */
    /* background: rgba(255, 255, 255,0.96); */
    background: #ffffff;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 300ms ease-in-out;
    max-width: 75%;
    transform: translateX(-100%);
    z-index: 1000;
    box-shadow: 10px 0px 1px -10px #616060bf;
    /* color:#1b1ba0; */
    border-radius: 0.2em;
  }
  
  .nav-links-small-screen a{
    color: #08084a;
    font-size: 1rem;
  }
  .nav-links-small-screen .account span{
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    
  }
  .nav-links-small-screen .account span:first-of-type{
    background: #ceceec;
  }
  .nav-links-small-screen .account span:nth-of-type(2){
    background: #2a2ae4;
    color: #fff;
  }
  .account span:nth-of-type(1){ /*on the big screen nav menu*/
    border:2px solid #1b1ba0;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
  }
  .links span:nth-of-type(2){
    background: #2a2ae4;;
    color:#fff;
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
  }
  .account span i{
    font-size: 0.6rem;
  }
  .nav-links a{
    color: #0e0e42;
    font-weight: 600;
  }
  .nav-links a::after{
    content: "";
    width: 2.8rem;
    height: 2px;
    display: inline-block;
    background: var(--color-bg-primary);
    transition: 200ms ease-in-out;
    position: relative;
    top: 0.5rem;
    right: 3.5rem;
    transform: scale(0);
  }
  .nav-links a:hover:after{
    transform: scale(1);
  }
  
  .nav-overlay{
    background: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
  } 
  /******END OF NAV *****/
  /* HEADER SECTION */
  header{
    position: relative;
  }
  .hero-container{
    position:absolute;
    margin-top: 3.8rem;
    /* background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    background: linear-gradient(to right, #CB218E 0%, #6617CB 100%);

    

    width: 100%;
}
.count-down-worldcup{
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  width: 100%;
  align-items: center;
  justify-items: center;
  /* color: #fabad4; */
  /* color:#fdfd6b; */
  color: #FEC310;
}
.foot-ball-icon{
  padding-right: 0.5rem;
}
.count-down-worldcup .timer{
  display: flex;
  align-items: center;
  padding: 1rem;
}
.timer h4{
  margin-right: 1rem;
  font-size: 0.65rem;
}
.timer h4 span{
  font-size: 1rem;
}
.timer span{
  display: block;
  text-align: center;
}

.hublot-logo{
  display: flex;
}
.hublot-logo img{
  max-width: 5rem;
}
.hublot-logo span{
  display: inline-block;
  font-size: 0.65rem;
  /* text-align: center; */
  font-style: italic;
  padding: 0.65rem;
  margin-top: 0.1rem;
  font-weight:bolder;
}

/* main{
  position: relative;
} */
/* .show-case-video-container{
position: relative;
} */
.video-container{
  height: 35rem;
}
.show-case-video{
  margin-top: 5rem;
  /* position: absolute; */
  max-height: 80vh;
  min-width: 100%;
  object-fit:cover;
}

 .text-content{
  position: absolute;
  color: #fff;
  /* margin-top:-8.5rem; */
  bottom:3.8rem;
  /* bottom: 0; */
  background: rgba(1, 2, 17, 0.5);
  width:100%;
  /* max-width: 500px; */
  padding: 16px;
}
.text-content p{
  margin-bottom: 1.5rem;
  max-width: 600px;
}
.btn-read-more{
  background: var(--clr-buttons);
  font-size: 0.9rem;
  padding: 0.3em 0.8em;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: 1.8px;
}
.text-content h1{
  max-width: 600px;
  font-size: 1.8rem;
}
.btn-read-more:hover{
  opacity: 0.8;
}
  /* END OF HEADER SECTION */
 
  /*START OF SECTION ARTICLES */
  .news-articles-container-main{

    color:#fff;
  }
/* .news-articles{
  display: flex;
  } */
  .category-heading{
    background: var(--clr-headings);
    color: #fff;
    letter-spacing: 2.5px;
    padding: 0.4rem 1rem ;
    border-radius: 0.2rem;
    margin: 8rem 1rem 1rem 1rem;
  }
  @media(max-width:480px){
    .category-heading{
    margin: 10rem 1rem 1rem 1rem;
    }
  }


/* JOSOEPH STYLES */
.top--search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.marque--content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* <!-- RECENT NEWS SECTION --> */

/*Start of SLIDE-SHOW SECTION ie recent-news-container */
.recent-news-section{
width: 90%;
display: grid;
/* justify-content: center; */
justify-items: center;
position: relative;
overflow: hidden;
margin: 2rem 1rem 1rem 1rem;
background: #fff;
}
.carousel-ctrl-btns{
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr;
  position: absolute;
  bottom: 50%;
  z-index: 900;
  width: 100%;
  /* margin-left:1rem; */
  /* gap:1rem */
}
.carousel-ctrl-btns div{
  background: #a21c85;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  opacity: 0.7;
  color: #fff;
}

.fa-arrow-right-long{
  right: -10rem;
}
.carousel-track-container{
  padding: 1rem 0rem 1rem 0rem;
  position: relative;
  /* margin: 1rem 1.5rem ; */
  transition: 250ms ease-in-out;
  width: 85%;
  height: 400px;
}
.slide{
  padding:0rem 0.8rem;
  border-radius: 0.6rem;
  background: #eee;
  width: 90%;
  height: 390px;
  min-width: 320px;
  max-width: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.slide-img{
  display: block;
  height: 50%;
  /* border-radius: 0.6rem 0.6rem 0rem 0rem; */
  padding-bottom: 0.5rem;
  object-fit: cover;
  width: 100%;
}
.description-txt{
  text-align: center;
  padding: 0.1rem 1rem;
}
.description-txt >*+*{
  margin-bottom: 1rem;
  padding: 0.2rem;
}
.read-more-btn{
  display: inline-block;
  background: #7b0548;
  color: #fff;
  padding: 0.3rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.3rem;
  transition: 250ms ease-in;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.read-more-btn:hover{
  opacity: 0.8;
  transform: scale(1.05);
}
/*End of SLIDE-SHOW SECTION ie recent-news-container */
.section-title{
  font-size: 1.5rem;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
}
.small-posts-container{
  padding: 1rem 0.5rem 0rem 0.5rem;
  margin: 1rem;
}
.small-post img{
  width:150px;
  object-fit:cover;
  height: 100%;
  border-radius: 0.2rem;
}
.small-post{
  display: flex;
  margin: 1rem;
  gap:1rem;
  background: #fffbfb;
  height: 90px;
  padding: 0rem 0.2rem;
}
.small-post-description{
  max-width: 800px;
}
.news-section .small-post{
  margin: 1rem 0.1rem 1rem 0rem;
  /* background: #1b1ba0; */
}
/* BIGGER POST a.k.a header post */
 .horse-bigger-post{
  position: relative;
  width: 100%;
  height:500px;
  background: #200518;
  background: url("images/horse-jumping.jpg"),
                     radial-gradient(#9c9a9a, #340329);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center center;   
  color: #fff;
  padding: 15em 0;
}
.football-bigger-post{
  position: relative;
  width: 100%;
  height:500px;
  background: #200518;
  background: url("images/qsl2.jpg"),
                     radial-gradient(#9c9a9a, #21021a);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center center;   
  color: #fff;
  padding: 15em 0;
}
.bigger-post-description{
  margin: 1rem 2rem;
  font-weight: 500;
  max-width: 700px;
}
.bigger-post-description>*{
  margin-bottom: 1rem;
}
.bigger-post-description h3{
  font-size: 1.8rem;
}
.bigger-post-description .read-more-btn{
  border-radius: 1rem;
}
 /* SMALL SCREENS */
  @media(max-width:850px){
    nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
    }
    .hamburger{
      display: block;
    }
    nav .links{
      display: none;

    }
    .nav-links-small-screen{
      display: flex;
    }
    .news-articles-container-main{
      flex-wrap: wrap;
    } 
    .featured-news img{
      width: 110px;
      height: 90px;
    }
    .aside-item a{
      font-size: 16px;
      font-weight: 500;
      
    }
    .news-timer{
      font-size: 10px;
    }
}
 
