@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

html{
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
.highlight{
    color: var(--color-highlight);
    font-weight: 550;
  }
  .logo{
    /* letter-spacing: 5px; */
    color: var(--color-txt-primary);
    max-height: 3rem;
    user-select: none;
    cursor: pointer;
    /* outline: 2px solid black; */
  }
  a{
    text-decoration: none;
    color: var(--color-bg-primary);
    cursor: pointer;
  }
  nav{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 4fr 2fr ;
    align-items: center;
    padding: 1rem;
    background: #5b35d5;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    position: fixed;
    width: 100%;
    z-index: 1000;

  }
  nav a, nav span{
    margin-right: 1rem;
    color: rgb(3, 1, 37);
    cursor: pointer;
  }
  nav span{
    color: var(--color-txt-primary);
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 100ms ease-in;
    display: inline-block;
  }
  nav span:hover{
    transform: scale(1.03);
    opacity: .8;
  }
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .hamburger span{
    display: block;
    height: 2px;
    margin-bottom: 0.2rem;
    width: 1.5rem;
    background:#000;
  }
  
  /* The .nav-open class is to be manipulated by js */
  .nav-open span:nth-of-type(1){
    position: relative;  
    transform: rotate(45deg);
    transition: 500ms;
    top: 0.6rem;
  }
  .nav-open span:nth-of-type(2){
    transform: scale(1,0);
    transition: 500ms;
    }
    .nav-open span:nth-of-type(3){
      position: relative;
      transform: rotate(-45deg);
      transition: 500ms;
      }
  
  
  .nav-links-small-screen{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    margin-top: 3.8rem;
    /* background: rgba(0,0,0,0.7); */
    /* background: rgba(255, 255, 255,0.96); */
    background: #5b35d5;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 300ms ease-in-out;
    max-width: 60%;
    transform: translateX(-100%);
    z-index: 1000;
  }
  
  .nav-links-small-screen a{
    color: #fff;
    font-size: 1rem;
  }
  .nav-links-small-screen .account span{
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    
  }
  .nav-links-small-screen .account span:first-of-type{
    background: #ceceec;
  }
  .nav-links-small-screen .account span:nth-of-type(2){
    background: #2a2ae4;
    color: #fff;
  }
  .account span:nth-of-type(1){ /*on the big screen nav menu*/
    border:2px solid #1b1ba0;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
  }
  .links span:nth-of-type(2){
    background: #2a2ae4;;
    color:#fff;
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
  }
  .account span i{
    font-size: 0.6rem;
  }
  .nav-links a{
    color: #0e0e42;
    font-weight: 600;
  }
  .nav-links a::after{
    content: "";
    width: 2.8rem;
    height: 2px;
    display: inline-block;
    background: var(--color-bg-primary);
    transition: 200ms ease-in-out;
    position: relative;
    top: 0.5rem;
    right: 3.5rem;
    transform: scale(0);
  }
  .nav-links a:hover:after{
    transform: scale(1);
  }
  
  /* SMALL SCREENS */
  @media(max-width:775px){
    nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
    }
    .hamburger{
      display: block;
    }
    nav .links{
      display: none;
    }
    .nav-links-small-screen{
      display: flex;
    }
  }
  .nav-overlay{
    background: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
  }
  /******END OF NAV *****/
  